<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link overview" href="https://codepen.io/peterbenoit/debug/rzoRGo">Overview <span class="sr-only TODO">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link migration" href="https://codepen.io/peterbenoit/debug/VzqRQe">Migration Guide</a>
            </li>
            <li class="nav-item">
              <a class="nav-link standards" href="https://codepen.io/peterbenoit/debug/BdvbVw">Standards</a>
            </li>
            <li class="nav-item"><a class="nav-link performance" href="https://codepen.io/peterbenoit/debug/EvGMpq">Performance</a></li>
            <li class="nav-item"><a class="nav-link accessibility" href="https://codepen.io/peterbenoit/debug/ZJVPNZ">Accessibility</a></li>
            <li class="nav-item"><a class="nav-link design" href="https://codepen.io/peterbenoit/debug/NvemPL">Design</a></li>
            <li class="nav-item"><a class="nav-link" href="https://codepen.io/peterbenoit/debug/LLqQzR">Cheat Sheet</a></li>
          </ul>
          <b>Content</b>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <span class="copy-links float-right"><a title="Accessibility" href="https://codepen.io/peterbenoit/debug/KqEoGd" class="accessibility"><i class="fa fa-universal-access" aria-hidden="true"></i></a></span><a class="nav-link colors" href="https://codepen.io/peterbenoit/debug/OjrdOJ">Colors</a>
            </li>		
            <li class="nav-item">
              <a class="nav-link external-links" href="https://codepen.io/peterbenoit/debug/Ojrday">External Links</a>
            </li>			
            <li class="nav-item">
              <a class="nav-link fonts" href="https://codepen.io/peterbenoit/debug/KvbENQ">Fonts</a>
            </li>		
            <li class="nav-item">
              <a class="nav-link grid" href="https://codepen.io/peterbenoit/debug/LjMvzy">Grid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link icons" href="https://codepen.io/peterbenoit/debug/OjrGEa">Icons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link layouts" href="https://codepen.io/peterbenoit/debug/NvemOV">Page Layouts</a>
            </li>
            <li class="nav-item">
                  <span class="copy-links float-right"><a title="Accessibility" href="https://codepen.io/peterbenoit/debug/KqRgem" class="accessibility"><i class="fa fa-universal-access" aria-hidden="true"></i></a> <a title="Documentation" href="https://codepen.io/peterbenoit/debug/LLqQzR#typography__display" class="documentation"><i class="fa fa-file-text-o"></i></a></span><a class="nav-link typography" href="https://codepen.io/peterbenoit/debug/QMzRNj">Typography</a>
            </li>		
          </ul><b>UI Components</b>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <span class="copy-links float-right"><a title="Accessibility" href="https://codepen.io/peterbenoit/debug/mwLrYJ" class="accessibility"><i class="fa fa-universal-access" aria-hidden="true"></i></a> <a title="Documentation" href="https://codepen.io/peterbenoit/debug/LLqQzR#breadcrumb" class="documentation"><i class="fa fa-file-text-o"></i></a></span><a class="nav-link breadcrumbs" href="https://codepen.io/peterbenoit/debug/MvLGbd">Breadcrumbs</a>
            </li>
            <li class="nav-item">
              <span class="copy-links float-right"><a title="Accessibility" href="https://codepen.io/peterbenoit/debug/eRrdwr" class="accessibility"><i class="fa fa-universal-access" aria-hidden="true"></i></a> <a title="Documentation" href="https://codepen.io/peterbenoit/debug/LLqQzR#btn-primary" class="documentation"><i class="fa fa-file-text-o"></i></a></span><a class="nav-link buttons" href="https://codepen.io/peterbenoit/debug/rwRJPN">Buttons</a>
            </li>		
            <li class="nav-item">
              <a class="nav-link callouts" href="https://codepen.io/peterbenoit/debug/gRBjxP">Callouts</a>
            </li>		
            <li class="nav-item">
              <span class="copy-links float-right"><a title="Accessibility" href="https://codepen.io/peterbenoit/debug/Zyopgo" class="accessibility"><i class="fa fa-universal-access" aria-hidden="true"></i></a> <a title="Documentation" href="https://codepen.io/peterbenoit/debug/LLqQzR#card" class="documentation"><i class="fa fa-file-text-o"></i></a></span><a class="nav-link cards" href="https://codepen.io/peterbenoit/debug/yorbGe">Cards</a>
            </li>
            <li class="nav-item">
              <span class="copy-links float-right"><a title="Accessibility" href="https://codepen.io/peterbenoit/debug/RgyoNP" class="accessibility"><i class="fa fa-universal-access" aria-hidden="true"></i></a> <a title="Documentation" href="https://codepen.io/peterbenoit/debug/LLqQzR#collapse" class="documentation"><i class="fa fa-file-text-o"></i></a></span><a class="nav-link collapsible" href="https://codepen.io/peterbenoit/debug/xrxNQG">Collapsible</a>
            </li>
            <li class="nav-item">
              <a class="nav-link govd" href="https://codepen.io/peterbenoit/debug/QMLpGZ">Email Updates (GovD)</a>
            </li>		
            <li class="nav-item">
              <span class="copy-links float-right"><a title="Accessibility" href="https://codepen.io/peterbenoit/debug/rwvWVZ" class="accessibility"><i class="fa fa-universal-access" aria-hidden="true"></i></a> <a title="Documentation" href="https://codepen.io/peterbenoit/debug/LLqQzR#form-group" class="documentation"><i class="fa fa-file-text-o"></i></a></span><a class="nav-link forms" href="https://codepen.io/peterbenoit/debug/YQgaLv">Forms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link feeds" href="https://codepen.io/peterbenoit/debug/NvGZKE">Feeds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link form-quiz" href="https://codepen.io/peterbenoit/debug/Gvpbox">Form Quiz</a>
            </li>		
            <li class="nav-item">
              <a class="nav-link guided-quiz" href="https://codepen.io/peterbenoit/debug/ZJbdbE">Guided Quiz</a>
            </li>		
            <li class="nav-item">
              <a class="nav-link timeline-horizontal" href="https://codepen.io/peterbenoit/debug/#WONKPN"><strike>Horizontal Timeline</strike></a>
            </li>		
            <li class="nav-item">
              <a class="nav-link jumbotron-slider" href="https://codepen.io/peterbenoit/debug/GERjKa">Jumbotron Slider</a>
            </li>
            <li class="nav-item">
              <a class="nav-link jumbotron-paralax" href="https://codepen.io/peterbenoit/debug/bRGwBp">Jumbotron Paralax</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lists" href="https://codepen.io/peterbenoit/debug/QMjJYb">Lists</a>
            </li>			
            <li class="nav-item">
              <a class="nav-link megamenu" href="https://codepen.io/peterbenoit/debug/QgQbwB">MegaMenu</a>
            </li>		
            <li class="nav-item">
              <span class="copy-links float-right"><a title="Accessibility" href="https://codepen.io/peterbenoit/debug/zzjovM" class="accessibility"><i class="fa fa-universal-access" aria-hidden="true"></i></a> <a title="Documentation" href="https://codepen.io/peterbenoit/debug/LLqQzR#modal" class="documentation"><i class="fa fa-file-text-o"></i></a></span><a class="nav-link modals" href="https://codepen.io/peterbenoit/debug/xrYwMJ">Modals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link slider-modal" href="https://codepen.io/peterbenoit/debug/bRGwEV">Modal Slider</a>
            </li>		
            <li class="nav-item">
              <a class="nav-link multi-use-carousel" href="https://codepen.io/peterbenoit/debug/KqOvwJ">Multi-use Carousel</a>
            </li>	
            <li class="nav-item">
              <a class="nav-link nav-buttons" href="https://codepen.io/peterbenoit/debug/EXxZNN">Navigation Buttons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link otp" href="https://codepen.io/peterbenoit/debug/XgWeKG">On This Page</a>
            </li>	
            <li class="nav-item">
              <a class="nav-link tabs" href="https://codepen.io/peterbenoit/debug/MoWJma">Panels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link progressive-images" href="https://codepen.io/peterbenoit/debug/YxpjaX">Progressive Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link responsive-images" href="https://codepen.io/peterbenoit/debug/EvNpGJ">Responsive Images</a>
            </li>
            <li class="nav-item">
              <span class="copy-links float-right"><a title="Accessibility" href="https://codepen.io/peterbenoit/debug/WOJGKo" class="accessibility"><i class="fa fa-universal-access" aria-hidden="true"></i></a> <a title="Documentation" href="https://codepen.io/peterbenoit/debug/LLqQzR#table" class="documentation"><i class="fa fa-file-text-o"></i></a></span><a class="nav-link tables" href="https://codepen.io/peterbenoit/debug/XgGzYM">Tables</a>
            </li>
            <li class="nav-item">
              <a class="nav-link video-carousel" href="https://codepen.io/peterbenoit/debug/JJPMVg">Video Carousel</a>
            </li>			
          </ul><b>Templates</b>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://codepen.io/peterbenoit/pen/NgWNwM">Home Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://codepen.io/peterbenoit/debug/QgLgJN">Standard Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://codepen.io/peterbenoit/debug/gRYmMp">Standard Page w/ open nav</a>
            </li>		
            <li class="nav-item">
              <a class="nav-link" href="https://codepen.io/peterbenoit/debug/pwvLpM">Admin Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://codepen.io/peterbenoit/debug/weXGZP">Full Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://codepen.io/peterbenoit/debug/ZyREwb">Simple Dashboard</a>
            </li>
          </ul>
          <b>Utilities</b>
          <ul class="nav nav-pills flex-column">
          </ul>
          <b>Sprints</b><br />
        <!-- 	<ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://codepen.io/peterbenoit/debug/xrebYa">Zika</a>
            </li>		
          </ul> -->
          <i>Sprint 1</i>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link fonts" href="https://codepen.io/peterbenoit/debug/jwOJrR">Fonts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link icons" href="https://codepen.io/peterbenoit/debug/NgKXrb">Icons</a>
            </li>
            <li class="nav-item">
              <span class="copy-links float-right"><a title="Accessibility" href="https://codepen.io/peterbenoit/debug/KqEoGd" class="accessibility"><i class="fa fa-universal-access" aria-hidden="true"></i></a></span><a class="nav-link colors" href="https://codepen.io/peterbenoit/debug/VWZzaO">Themes</a>
            </li>		
          </ul>
          <i>Sprint 2</i>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link grid" href="https://s.codepen.io/peterbenoit/debug/yooWbj">Grid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link headings" href="https://codepen.io/peterbenoit/debug/BdmpBZ">Headings</a>
            </li>
            <li class="nav-item">			
              <a class="nav-link icons" href="https://codepen.io/peterbenoit/debug/NgKXrb">Icons</a>
            </li>
            <li class="nav-item">			
              <a class="nav-link fonts" href="https://codepen.io/peterbenoit/debug/YxeYqN">Fonts</a>
            </li>
            <li class="nav-item">			
              <a class="nav-link colors" href="https://codepen.io/peterbenoit/debug/VWZzaO">Color Palettes</a>
            </li>
          </ul>
          <i>Sprint 3</i>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link cards" href="https://s.codepen.io/peterbenoit/debug/yorbGe">Cards</a>
            </li>
          </ul>		
        <!-- 	<b>Outside the Box</b>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://codepen.io/peterbenoit/debug/BZWRQW">One CDC</a>
            </li>
          </ul> -->
        </nav>