<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include navbar.html %}

	<div class="container-fluid">
		<div class="row">
			{% include sidebar.html %}

			<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
				<h1>[[TEMPLATE]]</h1>
				<div class="links"></div>
				<p class="lead">Lead goes here</p>
				<ul>
					<li></li>
					<li></li>
				</ul>
				<div class="bs-callout bs-callout-info">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
				</div>
				<div class="content">
					.content
				</div>
			</main>
		</div>
	</div>

	{% include footer.html %}
	{% include scripts.html %}
</body>

</html>